In [66]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_sentiments = pd.read_csv("dataset/train.csv",index_col=False, encoding="latin-1")

In [3]:
df_sentiments

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26
...,...,...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,night,31-45,Ghana,31072940,227540.0,137
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,morning,46-60,Greece,10423054,128900.0,81
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,noon,60-70,Grenada,112523,340.0,331
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,night,70-100,Guatemala,17915568,107160.0,167
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,morning,0-20,Guinea,13132795,246000.0,53

In [4]:
df_sentiments = df_sentiments.drop(columns=['textID', 'text','Time of Tweet','Age of User','Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'])

In [5]:
df_sentiments

                                           selected_text sentiment
0                    I`d have responded, if I were going   neutral
1                                               Sooo SAD  negative
2                                            bullying me  negative
3                                         leave me alone  negative
4                                          Sons of ****,  negative
...                                                  ...       ...
27476                                             d lost  negative
27477                                      , don`t force  negative
27478                          Yay good for both of you.  positive
27479                         But it was worth it  ****.  positive
27480  All this flirting going on - The ATG smiles. Y...   neutral

[27481 rows x 2 columns]

In [44]:
vectorizer = CountVectorizer()
df_sentiments_vectorizer = vectorizer.fit_transform(df_sentiments['selected_text'].fillna(''))

In [45]:
sentiments = pd.DataFrame(df_sentiments_vectorizer.toarray())

In [46]:
sentiments

,0,1,2,3,4,5,6,7,8,9,...,17600,17601,17602,17603,17604,17605,17606,17607,17608,17609
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27476,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df_sentiments['sentiment'] = encoder.fit_transform(df_sentiments['sentiment'])
df_sentiments

                                           selected_text  sentiment
0                    I`d have responded, if I were going          1
1                                               Sooo SAD          0
2                                            bullying me          0
3                                         leave me alone          0
4                                          Sons of ****,          0
...                                                  ...        ...
27476                                             d lost          0
27477                                      , don`t force          0
27478                          Yay good for both of you.          2
27479                         But it was worth it  ****.          2
27480  All this flirting going on - The ATG smiles. Y...          1

[27481 rows x 2 columns]

In [48]:
X = sentiments
y = df_sentiments['sentiment']

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 5)

In [12]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,17600,17601,17602,17603,17604,17605,17606,17607,17608,17609
9297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
X_train.shape[1]

17610

In [14]:
y_train.shape

(21984,)

In [15]:
model = tf.keras.Sequential()

In [16]:
model.add(tf.keras.layers.Dense(units=400, activation='relu', input_shape=(17610,)))
model.add(tf.keras.layers.Dense(units=400, activation='relu'))
model.add(tf.keras.layers.Dense(units=400, activation='relu'))
model.add(tf.keras.layers.Dense(units=3, activation='softmax'))

In [17]:
model.compile(optimizer='Adam', loss='sparse_categorical_crossentropy')
history = model.fit(X_train, y_train, epochs=10)

Epoch 1/10
687/687 [==============================] - 51s 73ms/step - loss: 0.5337
Epoch 2/10
687/687 [==============================] - 48s 70ms/step - loss: 0.2441
Epoch 3/10
687/687 [==============================] - 49s 71ms/step - loss: 0.1028
Epoch 4/10
687/687 [==============================] - 49s 71ms/step - loss: 0.0495
Epoch 5/10
687/687 [==============================] - 48s 70ms/step - loss: 0.0330
Epoch 6/10
687/687 [==============================] - 49s 71ms/step - loss: 0.0289
Epoch 7/10
687/687 [==============================] - 51s 74ms/step - loss: 0.0230
Epoch 8/10
687/687 [==============================] - 48s 70ms/step - loss: 0.0203
Epoch 9/10
687/687 [==============================] - 48s 70ms/step - loss: 0.0243
Epoch 10/10
687/687 [==============================] - 46s 67ms/step - loss: 0.0237

In [58]:
mytest = ["Renata, i love you so much"]
mytest = vectorizer.transform(mytest)
mytest_array = mytest.toarray()
mytest_array.shape
predict = model.predict(mytest_array)

1/1 [==============================] - 0s 28ms/step

In [59]:
#Neutro = 1, Negativo = 0, Positivo = 2
result = np.argmax(predict)
match result:
    case 0: 
        print("O sentimento é Negativo")
    case 1:
        print("O sentimento é Neutro")
    case 2:
        print("O sentimento é Positivo")

O sentimento é Positivo

In [60]:
#Salva o modelo criado e treinado em um arquivo .h5
model.save('testmodel.h5')

In [64]:
savedModel = tf.keras.models.load_model('testmodel.h5')
savedModel.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 400)               7044400

 dense_1 (Dense)             (None, 400)               160400

 dense_2 (Dense)             (None, 400)               160400

 dense_3 (Dense)             (None, 3)                 1203

=================================================================
Total params: 7,366,403
Trainable params: 7,366,403
Non-trainable params: 0
_________________________________________________________________

In [67]:
#Salva o vocabulario (matriz com as palavras em forma de vetor) e exporta
with open("vocabulario.pkl", "wb") as f:
    pickle.dump(vectorizer.vocabulary_, f)